
/*random style information for background map*/ 

body {
  background-color: white;
}

h1 {
  color: navy;
  margin-left: 20px;
}
/* ensures that the width of the popup window adjusts to the size of the input, especially for images */
.leaflet-popup-content {
width:200px !important;
}

/*.leaflet-control-layers-toggle:after{ 
    content:"Area A/B Phasing"; 
    color:#000 ;
}

.leaflet-control-layers-toggle{ 
    width:auto;
    background-position:3px 50% ;
    padding:3px;
    padding-left:36px;
    text-decoration:none;
    line-height:36px;

}*/